@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Hiragino Sans GB",
             "Microsoft YaHei", "WenQuanYi Micro Hei", "Noto Sans CJK SC",
             "Helvetica Neue", Arial, sans-serif;

}

/* 推荐方式 */
@layer components {
  .input-basic {
    @apply border px-2 py-1 bg-white rounded shadow-sm text-sm;
  }
}

